.board {
	width: calc(var(--pixel-size) * 8 * 4 + var(--pixel-size) * 10);
}

.grid {
	display: flex;
	flex-wrap: wrap;
	background-color: var(--secondary-background);
	border: var(--pixel-size) solid var(--secondary-background);
	border-radius: calc(var(--pixel-size) * 0.75); /* 6px */
}

/* square shape */
.cell {
	width: calc(var(--pixel-size) * 8);
	height: calc(var(--pixel-size) * 8);
	margin: calc(var(--pixel-size) * 1);
	border-radius: calc(var(--pixel-size) * 0.5);
	background: var(--cell-background);
}

.tiles {
	position: absolute;
	z-index: 2;
	margin: calc(var(--pixel-size) * 1);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
