.twenty48 {
	margin: calc(var(--pixel-size) * 0) auto;
	padding: calc(var(--pixel-size) * 1);
	width: 100%;
	max-width: calc(var(--pixel-size) * 42);
}

.twenty48 > header {
	display: flex;
	align-items: center;
	margin: calc(var(--pixel-size) * 1) 0;
}

.twenty48 > header > * {
	flex: 1;
}

.twenty48 > .line {
	width: 100%;
	height: 1px;
	background: var(--primary-text-color);
	opacity: 0.3;
}

.twenty48 > .howToPlay > p > .highlight {
	font-weight: 700;
}

.twenty48 > footer {
	font-weight: 600;
	text-align: center;
	margin: calc(var(--pixel-size) * 2.5) 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.twenty48 > footer > .socials {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
}
